
  <section class="flex-row justify-center"></section>

   {{#each blogs as |blog|}}

 

  <h3 class="gallery-name">{{blog.name}}</h3>eeeeeww
  {{!-- <h3 class="gallery-name">{{title}}</h3>
  <h3 class="gallery-name">{{contents}}</h3>
  <h4>Created: {{format_time created_date}}</h4> --}}


    {{/each}}




  </section>22222www