
<section class="comment">
  <div class="form-group">
        <label for="comment">Title:</label>
        <input class="title-input"type="text" id="email-login" />
      </div>
  <div class="form-group">
        <label for="title"> {{blog.name}}Comment:</label>
        <input class="comment-input" type="text" id="email-login" />
      </div>

</section>
